<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<body>
    <div class="body-layout">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
        <%- include('../partials/index') %>        
        <%- include('../partials/footer') %>
    </div>
</body>
</html>