<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/styles.css">
<%- include('../partials/head') %>
<body>
    <div class="body-layout">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
            <%- body %>
        </main>
                
        <%- include('../partials/footer') %>
    </div>
</body>
</html>