<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <section class="vehicle-details">
            <div class="vehicle-info">
                <h1 class="vehicle-head"><%= inv_make %> <%= inv_model %> Details</h1>
                <img src="<%= inv_image %>" alt="<%= inv_make %> <%= inv_model %>">
                <div class="details">
                    <p><strong>Year:</strong> <%= inv_year %></p>
                    <p class="price"><strong>Price:</strong> $<%= new Intl.NumberFormat('en-US').format(inv_price) %></p>
                    <p><strong>Description:</strong> <%= inv_description %></p>
                    <p class="color"><strong>Color:</strong> <%= inv_color %></p>
                    <p><strong>Miles:</strong> <%= inv_miles %></p>
                </div>
            </div>
            <a href="/inv/type/<%= classification_id %>" class="back-link">Back to Classification</a>
        </section>
    </main>
</body>
</html>
