<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <section class="vehicle-details">
            <h1 class="vehicle-title"><%= inv_year %> <%= inv_make %> <%= inv_model %></h1>
            <div class="vehicle-info">
                <img src="<%= inv_image %>" alt="<%= inv_make %> <%= inv_model %>">
                <div class="details">
                    <h2 class="vehicle-head"><%= inv_make %> <%= inv_model %> Details</h2>
                    <p class="price"><strong>Price:</strong> $<%= new Intl.NumberFormat('en-US').format(inv_price) %></p>
                    <p><strong>Description:</strong> <%= inv_description %></p>
                    <p class="color"><strong>Color:</strong> <%= inv_color %></p>
                    <p><strong>Miles:</strong> <%= new Intl.NumberFormat('en-US').format(inv_miles) %></p>
                </div>
            </div>
            <a href="/inv/type/<%= classification_id %>" class="back-link">Back to Classification</a>
        </section>
        <div class="review-container">
            <h2>Add a Review</h2>
            <form action="inventory/vehicle-details" method="POST">
                <div class="review-form">
                    <label for="inv_id">Vehicle: <%= inv_make %> <%= inv_model %></label>
                </div>
                <div class="review-form">
                    <label for="rating">Rating (1 to 5):</label>
                    <input type="number" name="rating" min="1" max="5" required>
                </div>
                <div class="review-form">
                    <textarea class="review-text" name="review_text" rows="4" required placeholder="Write a review..."></textarea>
                </div>     
                <button class="review-btn" type="submit">Submit Review</button>
            </form>
        </div>
    </main>
</body>
</html>
